body {
  background-image: linear-gradient(to right top, #fa66ec, #f46ff0, #ee78f3, #e880f5, #e387f7, #c39bff, #a7abff, #95b7ff, #6fcbff, #49ddff, #3eedff, #5ffbf1);
  height: 100vh;
  width: 100vw;
  color: white;
  text-align: center;
  padding-top: 40px;
  font-weight: bolder;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in the width and height of all elements */
}
